body{
  background-color: rgb(192, 211, 216)
}
#main{
  display: flex;
  flex-direction: column;
  height: 800px;
  background-clip: url(http://localhost/C:/Users/sjk15/OneDrive/Pictures/foodbackground.jpg);
  background-attachment: scroll;
}
#tophead{
  background-color: white;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 5px gray;
  position: relative;
}
#topbutton{
  color: rgb(0, 153, 255);
  border: solid white 5px;
  width: 100px;
  height: 40px;
  background-color: white;
  font-weight: bold;
}
#title{
  color: whitesmoke;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-content: center;
  font-family: cursive;
}







#inputfield{
  display: flex;
  flex-direction: column;
  margin: auto;
}
#enteringredients{
  height: 100px;
}
input{
  margin: 2px;
}
#addrecipe{
  border: none;
  color: white;
  background-color: rgb(255, 77, 77);
  box-shadow: 2px 2px 5px gray;
}





#currentrecipes{
  text-align: center;
  color: rgb(0, 0, 0);
}
#mealCard{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: solid rgb(255, 255, 255);
  width: 90%;
  box-shadow: 2px 2px 8px gray;
  background-image: linear-gradient(to bottom, white, rgb(245, 245, 245))
}
#mealName{
  display: flex;
  justify-content: space-around;
  color: rgb(29, 29, 29);
  border-radius: 6px;
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(255, 255, 255), rgb(219, 219, 219))
}
#stars{
  color: blueviolet;
}
#micro{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: rgb(70, 43, 226)
}
#imagecard{
  display: flex;
  justify-content: center;
}
#foodimg{
  width: 100px;
  display: flex;
  align-items: center;
}
#rating{
  display: flex;
  justify-content: center;
}
#rateinput{
  width: 75px;
  background-color: #3CBC8D;
  color: rgb(0, 0, 0);
  border: 3px solid rgb(207, 207, 207);
}
::placeholder{
  color: rgb(206, 206, 206);
}
#rate{
  width:75px;
  height: 35px;
  color: rgb(255, 255, 255);
  background-color: rgb(77, 184, 255);
  border: white solid 2px;
  border-radius: 10px;
}
#delete{
  width:75px;
  height: 35px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 77, 77);
  border: white solid 2px;
  border-radius: 10px;
}


#weekbody{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#save{
  display: flex;
  flex-direction: row;
}
#weeklyplan{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#day{
  color: whitesmoke;
}
#eachday{
  display: flex;
  box-shadow: 2px 2px 5px gray;
  margin: 0 auto;
  width: 85%;
  background-color: white;
}
#lunch{
  width: 50%;
  margin: 5px;
  background-color: rgb(255, 255, 255)
}
#dinner{
  width:50%;
  margin: 5px;
  background-color: rgb(255, 255, 255)
}
#randombutton{
  width: 200px;
  color: rgb(255, 255, 255);
  background-color: rgb(77, 184, 255);
  height: 50px;
  font-size: 15px;
  border: none;
  box-shadow: 2px 2px 5px gray;
}
